
/* Element Selector */
h1, #hobbies {
color: red;
background-color: yellow
}

/* Apply to all li elements that are children of #hobbies (Any element with that ID) */
#hobbies li {
background-color: lightblue;
}

/* ID selector */
#hobbies {
border: 2px solid green; 
}

/* Class selector */
.big {
font-size: 2em;
}

